/* Macbook pro 16" - 1 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

p {
  margin: 0;
}

.macbook-pro-161 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 55vw;
  padding: 14px 52px 15px 100px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}

.group-312 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  box-sizing: border-box;
}

.component-5 {
  width: 42%;
  height: 100%;
}

.frame-43 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10vh;
  height: 100%;
  /* padding: 10px; */
  width: 50%;
  box-sizing: border-box;
}

.frame-42 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  width: fit-content;
  padding: 5px;
  box-sizing: border-box;
}

.frame-14 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
}

.about-us {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  line-height: 60px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.our-platform-provides-a {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: 5%;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  padding: 16px 11px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(243, 250, 243, 0.5);
}

.button:hover {
  background: linear-gradient(to right, #59CC80 0%, #59C4BA 100%);
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.join-waitlist {
  color: rgba(39, 84, 41, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.frame-15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 481px;
  width: fit-content;
  box-sizing: border-box;
}

.our-goals {
  color: rgba(0, 0, 0, 1);
  font-size: 25px;
  line-height: 37.5px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-decoration: underline;
}

.arrow-1 {
  width: 21.21px;
  height: 0px;
}

.frame-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 17px;
  width: fit-content;
  box-sizing: border-box;
}

.our-platform-is-compreh {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.frame-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 17px;
  width: 100%;
  box-sizing: border-box;
}

.we-promote-responsible {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.frame-6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 17px;
  width: fit-content;
  box-sizing: border-box;
}

.we-provide-accurate-and {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.frame-7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 17px;
  width: fit-content;
  box-sizing: border-box;
}

.simplify-trip-planning {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}