/* Group 633096 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

p {
  margin: 0;
}

a {
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.vector {
  width: 98vw;
  height: 700.35px;
  left: 27px
}

.group-633096 {
  position: relative;
  width: 97vw;
  height: 85vh;
  box-sizing: border-box;
}

.group-633095 {
  width: 100%;
  height: 730.05px;
}

.group-633093 {
  position: absolute;
  top: 100px;
  left: 14%;
  width: 100vw;
  height: 568px;
  box-sizing: border-box;
}

.frame-284 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  width: 1038px;
  height: 100%;
  box-sizing: border-box;
}

.group-633092 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 13px 1px;
  box-sizing: border-box;
}

.unlock-your-global-adve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(89, 204, 128, 1);
  font-size: 40px;
  line-height: 145%;
  width: 80%;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-align: center;
}

.we-provide-you-with-the-m {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(18, 18, 18, 1);
  font-size: 20px;
  line-height: 145%;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 48px;
}

.frame-286 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  box-sizing: border-box;
}

.frame-285 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 100px
}

.enter-email {
  padding: 11px 300px 11px 10px;
  border: 2px solid rgba(219, 240, 221, 1);
  border-radius: 16px;
  box-sizing: border-box;
  background-color: rgba(249, 249, 249, 1);
  color: rgba(18, 18, 18, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  width: 100%
}

/* Frame 282 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

p {
  margin: 0;
}

.frame-282hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 386px;
  padding: 16px 11px;
  border: 0px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  box-sizing: border-box;
  background: linear-gradient(to right, #59CC80 0%, #59C4BA 100%);
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.frame-282hero:hover {
  background: #06491d;
  color: white;
}