/* Frame 283 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

p {
  margin: 0;
}

.frame-283 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40%;
  width: 100vw;
  height: 135.83px;
  padding: 50px 83px 25px;
  box-sizing: border-box;
}

.group {
  width: 117px;
  height: 100%;
}

.frame-281 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 76px;
  height: fit-content;
  box-sizing: border-box;
}

.home {
  color: rgba(53, 132, 56, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  /* text-decoration: underline; */
}

.about-us {
  color: rgba(18, 18, 18, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.our-solution {
  color: rgba(18, 18, 18, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.contact-us {
  color: rgba(18, 18, 18, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}