.nav-section {
  width: 100vw;
  height: 10vh;
  top: 0;
  position: fixed;
  background-color: white;
  margin: auto 0;
  z-index: 99;
}

.nav-section nav {
  width: 70%;
  margin-left: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-title {
  flex: 1;
}

.nav-link {
  flex: 3;
}

.nav-link .nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

.nav-link .nav-menu span {
  width: 147px;
}

.nav-link .nav-menu span p {
  font-weight: 500;
  font-weight: 24px;
  margin-left: 1rem;
  cursor: pointer;
}

.nav-link .nav-menu span p:hover {
  color: var(--primary);
  border: 2px solid transparent;
  border-bottom-color: var(--primary);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.active {
  color: var(--primary);
  border: 2px solid transparent;
  border-bottom-color: var(--primary);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-section {
    width: 400px;
    height: 10vh;
  }

  .nav-section nav {
    width: 70%;
    margin: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-title{
    flex: 3;
  }

  .nav-link{
    flex: 1;
  }
.nav-link .nav-menu{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 75%;
    min-height: 100vh;
    transition: 0.5s;
    background-color: white;
    z-index: -1;
  }

  .nav-link .nav-menu span {
    width: 0;
  }

  .nav-menu.actives {
    left: 0;
  }
  .hamburger {
    display: flex;
    z-index: 100;
    margin-left: 3rem;
  }
}
