:root {
  --primary: #59CC7F;
}

.japa-homepage {
  scroll-behavior: smooth;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.japa-container {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .japa-homepage {
    width: 100vw;
    /* overflow-x:scroll ; */
  }

  .japa-container {
    min-width: 25%;
  }
}